<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FlyPaper">
    <listeners>
        <listener class-name="io.typeset.sphinx.tests.Screenshot"></listener>
        <listener class-name="io.typeset.sphinx.tests.ExtentReporterNG"></listener>
    </listeners>

    <parameter name="url" value="https://typeset.io" />

    <!--  <test name="FlyPaperFireFox">
        <parameter name="Browser" value="firefox" />
        <parameter name="Mode" value="headless" />
        <classes>
            <class name="tests.FullScene">
                <methods>
                    <include name="checkDocumentCreatingAndRendering" />
                </methods>
            </class>
            <class name="tests.SmokeReferences">
                <methods>
                    <include name="testReferencesApp" />
                </methods>
            </class>
        </classes>
    </test> -->
    <test name="FlyPaperChrome">
        <parameter name="Browser" value="chrome" />
        <parameter name="Mode" value="headless" />
        <packages>
            <package name="io.typeset.sphinx.tests">
            </package>
        </packages>
        <!--<classes>-->
            <!--<class name="tests.FullScene">-->
                <!--<methods>-->
                    <!--<include name="checkDocumentCreatingAndRendering" />-->
                <!--</methods>-->
            <!--</class>-->
            <!--<class name="tests.SmokeReferences">-->
                <!--<methods>-->
                    <!--<include name="testReferencesApp" />-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
    </test>

</suite>
