controls:
 control_1:
  name: Login
  id:
   by: xpath
   locator: "/html/body/div[1]/nav/div/ul/li[5]/a"
  action_type: click
  action_data: default data
  precondition: 
  leadsto: page_2
  wait_time: short
 control_2:
  name: Email
  id:
   by: xpath
   locator: "//*[@id=\"id_login\"]"
  action_type: type
  action_data: widocuh@payperex2.com
  precondition: 
  leadsto:
 control_3:
  name: password
  id:
   by: xpath
   locator: "//*[@id=\"id_password\"]"
  action_type: type
  action_data: 123456
  precondition: 
   - control_2%not%empty
  leadsto:
 control_4:
  name: LoginBtn
  id:
   by: xpath
   locator: "//*[@id='login_form']/button"
  action_type: click
  action_data: default data
  precondition:
   - control_3%not%empty
  leadsto: page_5
 control_5:
  name: SearchBar
  id:
   by: xpath
   locator: "//*[@id='formats-search-input']"
  action_type: type
  action_data: IEEE
  precondition: 
  leadsto:
 control_6:
  name: FirstFormat 
  id:
   by: xpath
   locator: "//*[@id='ts-formats-results-container']/div/div[2]/div[2]/div[1]/a/div/div/div[1]"
  action_type: click
  action_data: default data
  precondition: 
  leadsto: screen_4
 control_7:
  name: ChooseBtn 
  id:
   by: cssSelector
   locator: "#formats-preview-modal-container > div.formats-preview-modal > div.formats-preview-modal__info-bar > a"
  action_type: click
  action_data: default data
  precondition: 
  leadsto: page_4
 control_8:
  name: preview
  id:
   by: xpath
   locator: "//*[@id='container']/div/div[3]/div[1]/div/div/img"
  action_type: click
  action_data: default data
  precondition: 
  leadsto:
 control_9:
  name: writeBtn
  id:
   by: xpath
   locator: "//*[@id=\"header\"]/span[1]/span/span/div/a[1]"
  action_type: click
  action_data: default data
  precondition: 
  leadsto: app_1
  wait_time: long
 control_10:
  name: recentDocuments
  id:
   by: xpath
   locator: "//*[@id=\"header\"]/span[1]/a/span"
  action_type: click
  action_data: default data
  precondition: 
  leadsto:
 control_11:
  name: autoFormatBtn
  id:
   by: xpath
   locator: "//*[@id='header']/span[1]/span/span/div/a[2]"
  action_type: click
  action_data: default data
  precondition: 
  leadsto: screen_9
 control_12:
  name: downloadBtn
  id:
   by: xpath
   locator: "//*[@id=\"header\"]/span[1]/span/span/span"
  action_type: click
  action_data: default data
  precondition: 
  leadsto:
 control_13:
  name: title
  id:
   by: xpath
   locator: "//*[@id=\"modal-sheet\"]/div/div/div/div[2]/input"
  action_type: type
  action_data: default data
  precondition: 
  leadsto:
 control_14:
  name: formatsGalleryTab
  id:
   by: xpath
   locator: "//*[@id='ts-fixed-header']/div[2]/div[2]/ul/li[2]/a"
  action_type: click
  action_data: default data
  precondition: 
  leadsto: page_3
 control_15:
  name: documentsTab
  id:
   by: xpath
   locator: "//*[@id='ts-fixed-header']/div[2]/div[2]/ul/li[1]/a"
  action_type: click
  action_data: default data
  precondition: 
  leadsto:
 control_16:
  name: firstDocument
  id:
   by: xpath
   locator: "//*[@id=\"ts-container\"]/div/div[2]/div[2]/div/div[2]/div[2]/div[2]/div[2]/div"
  action_type: click
  action_data: default data
  precondition: 
  leadsto: page_4
  wait_time: long
 control_17:
  name: FromFormat
  id:
   by: xpath
   locator: "//*[@id='new-doc-template']/a/div"
  action_type: click
  action_data: default data
  precondition: 
  leadsto: page_3
 control_18:
  name: BlankDocumnet
  id: 
   by: xpath
   locator: "//*[@id='new-doc-blank']/a/div/span" 
  action_type: click
  action_data: default data
  precondition: 
  leadsto:
 control_19:
  name: closeScreen
  id: 
   by: xpath
   locator: "//*[@id=\"modal-sheet\"]/div/a/span"
  action_type: click
  action_data: default data
  precondition: 
  leadsto:
 control_20:
  name: addReferencesManually
  id: 
   by: xpath
   locator: "//*[@id=\"modal-sheet\"]/div/div[1]/div/span[1]"
  action_type: click
  action_data: default data
  precondition: 
  leadsto:
 control_21:
  name: referenceTitle
  id: 
   by: xpath
   locator: "//*[@id=\"modal-sheet\"]/div/div[2]/div/div/div[2]/input"
  action_type: type
  action_data: Paper on Parasailing Monkeys
  precondition: 
  leadsto:
 control_22:
  name: referenceAuthor
  id: 
   by: xpath
   locator: "//*[@id=\"modal-sheet\"]/div/div[2]/div/div/div[3]/span/input"
  action_type: click
  action_data: default data
  precondition: 
  leadsto:
 control_23:
  name: addRefBtn
  id: 
   by: xpath
   locator: "//*[@id=\"modal-sheet\"]/div/div[2]/div/div/div[14]/a"
  action_type: click
  action_data: default data
  precondition: 
  leadsto: app_2
 control_24:
  name: pasteBibtexBtn
  id: 
   by: xpath
   locator: "//*[@id=\"modal-sheet\"]/div/div[1]/div/span[2]"
  action_type: click
  action_data: default data
  precondition: 
  leadsto:
 control_25:
  name: refTextArea
  id: 
   by: xpath
   locator: "//*[@id=\"modal-sheet\"]/div/div[2]/div/textarea"
  action_type: type
  action_data: default data
  precondition: 
  leadsto:
 control_26:
  name: copySampleReferences
  id: 
   by: xpath
   locator: "//*[@id=\"modal-sheet\"]/div/div[2]/div/div[2]"
  action_type: click
  action_data: default data
  precondition: 
  leadsto:
 control_27:
  name: uploadBibtexBtn
  id: 
   by: xpath
   locator: "//*[@id=\"modal-sheet\"]/div/div[2]/div/div[1]/a"
  action_type: click
  action_data: default data
  precondition: 
  leadsto: app_2
 control_28:
  name: optionReferences
  id: 
   by: xpath
   locator: "//*[@id=\"container\"]/div/div[3]/div[1]/div[1]/div/div[3]/div/div/div/div[1]"
  action_type: click
  action_data: default data
  precondition: 
  leadsto:
 control_29:
  name: documentHeading
  id: 
   by: cssSelector
   locator: "#ts-my-document > div > div > h1 > span"
  action_type: type
  action_data: heading\n
  precondition: 
  leadsto: 
 control_30:
  name: documentParagraph
  id: 
   by: cssSelector
   locator: "#ts-my-document > div > div.sc-node.sc-paragraph > span"
  action_type: type
  action_data: default data
  precondition: 
  leadsto:
 control_31:
  name: boldBtn
  id: 
   by: cssSelector
   locator: "//*[@id='container']/div/div[3]/div[1]/div[1]/div/div[5]/div[1]/div/div[1]/div/button"
  action_type: click
  action_data: default data
  precondition: 
  leadsto:
 control_32:
  name: activateReferencesApp
  id:
   by: xpath
   locator: "//*[@id=\"sidebar-column\"]/div[1]/div[2]"
  action_type: click
  action_data: default data
  precondition:
  leadsto: app_2
 control_33:
  name: importAddReferences
  id: 
   by: xpath
   locator: "//*[@id=\"sidebar-column\"]/div[2]/div[1]/a"
  action_type: click
  action_data: default data
  precondition: 
  leadsto: screen_6
 control_34:
  name: allReferences
  id: 
   by: xpath
   locator: "//*[@id=\"sidebar-column\"]/div[2]/div[3]"
  action_type: click
  action_data: default data
  precondition: 
  leadsto:
 control_35:
  name: referencesScroll
  id: 
   by: xpath
   locator: "//*[@id=\"sidebar-column\"]/div[2]/div[3]"
  action_type: click
  action_data: default data
  precondition: 
  leadsto:
 control_36:
  name: searchReferences
  id: 
   by: xpath
   locator: "//*[@id=\"sidebar-column\"]/div[2]/div[1]/span/input"
  action_type: type
  action_data: Paper on Parasailing Monkeys
  precondition: 
  leadsto:
 control_37:
  name: firstReference
  id: 
   by: xpath
   locator: "//*[@id=\"sidebar-column\"]/div/div[3]/div/div[1]/span[1]"
  action_type: click
  action_data: default data
  precondition: 
  leadsto:
 control_38:
  name: referenceEditBtn
  id: 
   by: xpath
   locator: "//*[@id=\"sidebar-column\"]/div[2]/div[3]/div[1]/div[2]/span[5]/a"
  action_type: click
  action_data: default data
  precondition: 
  leadsto: screen_7
 control_39:
  name: firstCitation
  id: 
   by: cssSelector
   locator: "#ts-my-document > div > div.sc-node.sc-paragraph > span > span > span > span.se-container.sm-disabled > span.ts-xref.ts-xref-bibr"
  action_type: click
  action_data: default data
  precondition: 
  leadsto:

widgets: 
 widget_1:
  name: WriteNowWidget
  id: 
   by: xpath
   locator: "//*[@id='ts-container']/div/div[2]/div[1]/div/div/div/div[1]/a"
  controls: [control_17, control_18]
  action_type: click
  action_data: default data
  precondition: 
 widget_2:
  name: CiteWidget
  id: 
   by: xpath
   locator: "//*[@id=\"container\"]/div/div[3]/div[1]/div[1]/div/div[3]/div/div/button/span[1]"
  controls: [control_28]
  action_type: click
  action_data: default data
  precondition: 
   
apps:
 app_1:
  name: DocumentEditorApp
  id: 
    by: 
    locator:  
  widgets: [widget_2] 
  controls: [control_11, control_29, control_30, control_31, control_39]
  precondition: 
 app_2:
  name: ReferencesApp
  id: 
    by: 
    locator:  
  controls: [control_33, control_34, control_35, control_36, control_37, control_38]
  precondition: 
  
screens:
  screen_1:
   id: 
    by: 
    locator: 
   name: HomeDefaultScreen
   controls: [control_1]
   precondition: 
  screen_2:
   id: 
    by: 
    locator: 
   name: LoginDefaultScreen
   controls: [control_2, control_3, control_4]
   precondition: 
  screen_3:
   id: 
    by: 
    locator:  
   name: FormatsDefaultScreen
   controls: [control_5, control_6]
   precondition: 
  screen_4:
   id: 
    by: xpath
    locator: 
   name: FormatsModalScreen
   controls: [control_7]
   precondition: 
  screen_5:
   id: 
    by: 
    locator:  
   name: EditorDefaultScreen
   apps: [app_1, app_2]
   controls: [control_9, control_10, control_12, control_32]
   precondition: 
  screen_6:
   id: 
    by: id
    locator:  modal-sheet
   name: EditorReferenceScreen
   controls: [control_19, control_20, control_21, control_22, control_23, control_24, control_25, control_26, control_27]
   precondition: 
  screen_7:
   id: 
    by: xpath
    locator: "something_random" 
   name: UpdateReferencesScreen
   controls: [control_13]
   precondition: 
  screen_8:
   id: 
    by: 
    locator:  
   name: DocumentsDefaultScreen
   controls: [control_14, control_15, control_16]
   widgets: [widget_1]
   precondition: 
  screen_9:
   id: 
    by: 
    locator:  
   name: EditorPreviewScreen
   apps: 
   controls: [control_8]
   precondition: 
    
pages:
 page_1:
  root: true
  name: HomePage
  id: 
   by: 
   locator: 
  url: typeset.io
  screens: [screen_1]
  precondition: 
 page_2:
  root: false
  name: LoginPage
  id: 
   by: 
   locator: 
  url: typeset.io/accounts/login/
  screens: [screen_2]
  precondition: 
 page_3:
  root: false
  name: FormatsGalleryPage
  id: 
   by: 
   locator: 
  url: typeset.io/formats/all
  screens: [screen_3, screen_4]
  precondition: 
 page_4:
  root: false
  name: EditPage
  id: 
   by: 
   locator: 
  url: typeset.io/edit/
  screens: [screen_5, screen_6, screen_7, screen_9]
  precondition: 
 page_5:
  root: false
  name: DocumentsPage
  id: 
   by: 
   locator: 
  url: typeset.io/documents/
  screens: [screen_8]
  precondition: 
 
 
